@mixin anchor-main {
  text-transform: uppercase;

  color: $theme-main-color;

  font-size: 16px;
}


//Slider Contact Box
.contact-box {
  position: absolute;
  z-index: 1000;
  bottom: 0;

  width: 100%;

  background: rgba($white, 0.3);
  .added-bg {
    background: rgba($white, 0.6);
  }
  & .social-icons {
    width: 100%;
    padding: 0.75rem 0;

    text-align: center;

    border-right: 1px solid $theme-main-color;
    border-left: 1px solid $theme-main-color;
    & li {
    padding-right: 0.35rem;
      &:nth-child(4n+1) a {
        background: $theme-main-color;
      }
      &:nth-child(4n+2) a {
        background: $theme-secondary-color;
      }
      &:nth-child(4n+3) a {
        background: $theme-accent-color;
      }
      &:last-child {
        padding: 0;
      }
      a {
        margin: 0;
        padding: 8px;

        background: #1D2A4C;

        font-size: 12px;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .spec {
    a {
      @include anchor-main;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/*** SECTIONS ***/
/*** Home Section ***/
section.home-content {
    position: relative;

    padding: 2rem 0;

    background: #fff;
    background-size: cover;
}

section.home-content .container, section.home-content .container-fluid {
    position: relative;
    z-index: 3;
}

section.home-content #primary h1, .featured-title {
    position: relative;

    display: block;

    margin: 0 auto 1rem auto;
    padding-bottom: 0 0 1rem 0;

    text-align: left;
    letter-spacing: 0;
    text-transform: uppercase;

    color: #7d8589;

    font-family: $main-font;
    font-size: 60px;
    font-weight: 300;
    line-height: 1.25;
}

section.home-content #primary h1 span, .featured-title span {
    display: block;

    margin-top: 1rem;
    padding-top: 1rem;

    text-transform: none;
    text-transform: uppercase;

    border-top: 1px solid $theme-accent-color;

    font-size: 30px;
}

section.home-content #primary h2 span {
    display: block;
}

section.home-content #primary p, .home section p {
    color: #7d8589;

    line-height: 1.6;
}

/* Meet Doc */
section.meet {
    padding: 2rem 0;
}

/*** Call to Actions ***/
section.call-to-actions {
    padding: 3rem 0;
}

@media only screen and (min-width: 1366px) {
    section.call-to-actions .container {
        width: 1560px;
        max-width: 100%;
    }
}

section.call-to-actions .cta a {
    top: 0;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(90, 91, 95, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(90, 91, 95, 0);
    box-shadow: 0px 0px 0px 0px rgba(90, 91, 95, 0);
}

section.call-to-actions .cta, section.call-to-actions .cta a, section.call-to-actions .cta a h4, section.call-to-actions .cta a img {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

section.call-to-actions .cta a, section.call-to-actions .cta a .box {
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

section.call-to-actions .cta a:hover {
    top: -5px;

    -webkit-box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    -moz-box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}

section.call-to-actions .cta a .box h4 {
    position: absolute;
    z-index: 3;
    top: 3rem;

    width: 100%;
    padding: 1.5rem 0;

    text-align: center;
    letter-spacing: 3px;

    color: #5f6369;
    background: rgba(255, 255, 255, 0.8);

    font-size: 22px;
}

section.call-to-actions .cta a:hover .box h4 {
    letter-spacing: 5px;

    background: white;
}

section.call-to-actions .cta a .box img {
    position: relative;
}

section.call-to-actions .cta a:hover .box img {
 /* IE 9 */
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
 /* Safari */
    transform: scale(1.1);
}

/* Reviews */
section.review {
    padding: 3rem 0;
}

section.review blockquote {
    margin: 0;
    padding: 0;

    text-align: left;

    color: #7d8589;
    border-left: 0;

    font-family: 'Open Sans', serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    line-height: 2;
}

section.review blockquote span {
    position: relative;

    display: block;

    margin-top: 1.5rem;
    padding-top: 1.5rem;

    font-weight: bold;
    font-style: normal;
}

section.review blockquote span::before {
    position: absolute;
    top: 0;

    display: block;

    width: 20px;
    height: 1px;

    content: '';

    background: #333;
}

section.review .bx-slider, section.review .bx-slider li, section.review .bx-wrapper {
    height: auto;
}

/*** Contact ***/
section.contact {
    padding: 4rem 0;

    background: #fff;
}

section.contact .f-cols {
    padding: 0;
}

section.contact a.hover-box, section.contact a.hover-box .box-title, section.contact a.hover-box .box-title h4, section.contact a.hover-box .box-title h4::after, section.contact a.hover-box .map-img img, section.contact .contact-info p a {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

section.contact .contact-info {
    position: relative;

    width: 100%;
    margin: 0;
    padding: 20% 1rem;

    background: #ddebbd url(img/dr-q-big.png) no-repeat center center;
    background-size: cover;
}

section.contact .contact-info h3, section.contact .contact-info p a {
    margin: 0;
    padding: 0;

    color: #7d8589;

    font-size: 60px;
    font-weight: 300;
}

section.contact .contact-info p a:hover, section.contact .contact-info p a.hovered {
    color: #000;
}

section.contact .contact-info p, section.contact .contact-info p a {
    text-transform: uppercase;

    font-family: $main-font;
    font-size: 30px;
    font-weight: 300;
}

section.contact .location-img {
    position: relative;
}

section.contact a.hover-box .box-title {
    position: absolute;
    z-index: 3;

    width: 100%;
    height: 100%;

    opacity: 0;
    background: rgba(51, 51, 51, 0.55);
}

section.contact a.hover-box:hover .box-title, section.contact a.hover-box.hovered .box-title {
    opacity: 1;
}

section.contact a.hover-box .map-img {
    opacity: 1;
    background: #DDEBBD;
}

section.contact a.hover-box:hover .map-img img, section.contact a.hover-box.hovered .map-img img {
    opacity: 0.8;
}

section.contact a.hover-box .box-title h4.l-space {
    letter-spacing: 5px;
}

section.contact .aligner {
    position: relative;

    height: 100%;
}

section.contact a.hover-box .box-title h4 {
    margin: 0;
    padding: 0;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fff;
    text-shadow: 0px 0px 5px #000;

    font-family: $main-font;
    font-size: 36px;
}

section.contact a.hover-box .box-title h4::after {
    display: block;

    width: 0;
    height: 1px;
    margin: 1rem auto;

    content: '';

    background: #DDEBBD;
}

section.contact a.hover-box:hover .box-title h4::after, section.contact a.hover-box.hovered .box-title h4::after {
    width: 100px;
}

section.contact img.map {
    width: 100%;
    height: auto;
}

section.contact .contact-info address {
    margin-top: 2rem;

    color: #7d8589;

    font-family: $main-font;
    font-size: 18px;
    line-height: 1.6;
}

section.contact a.tel {
    display: block;
}

section.contact a.tel:hover {
    text-decoration: underline;
}

section.contact .highlight a {
    font-size: 24px;
    font-weight: 700;
}

section.contact address a {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    color: #555;

    font-size: 20px;
    font-weight: 600;
}

section.contact address a span {
    font-size: 24px;
    font-weight: 700;
}

section.contact .highlight a:hover, section.contact address a:hover {
    color: #0C739E;
}

/*** Creds *** --------------------------- */
section.creds {
    padding: 3rem 0 5rem 0;
}

section.creds a img {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
 /* IE 9 */
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
 /* Safari */
    transform: scale(0.9);

    opacity: 0.7;

    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

section.creds a:hover img {
 /* IE 9 */
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
 /* Safari */
    transform: scale(1);

    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
